<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Name Calculator</title>
  </head>
  <body ng-app="lunchCheck">
    <h1>What do you eat for lunch babe?</h1>
    <div ng-controller="LunchCheckController">
      <div>
        List items separated by a comma.<br>
        <!-- empty items are not considered -->
        <input type="text"
        ng-model="list"
        style="border: {{boxBorder}}">
        <button ng-click="calculate()">Check</button>
      </div>
      <div style="color:{{colorResult}}">{{answer}}</div>
    </div>
  </body>
</html>
